@each $key, $value in $colors {
  @debug "<div class="bg-#{$key}">BackgroundColor-  bg-#{$key}</div>";
  .text-#{$key} {
    color: $value;
    .text-hover-#{$key} {
      &:hover {
        color: $value;
      }
    }
  }
  .bg-#{$key} {
    background-color: $value;
  }

  @if (value != black and $value != white) {
    @for $i from 1 through 9 {
      .text-#{$key}-light-#{$i} {
        color: mix(white, $value, $i * 10%);
      }
      .bg-#{$key}-light-#{$i} {
        background-color: mix(white, $value, $i * 10%);
      }
    }
    @for $i from 1 through 9 {
      .text-#{$key}-dark-#{$i} {
        color: mix(black, $value, $i * 10%);
        padding: 0.75rem;
      }
      .bg-#{$key}-dark-#{$i} {
        background-color: mix(black, $value, $i * 10%);
      }
    }
  }
}
