// theme colors
$primary: #AB7442 ;
$secondary:  #f5f5f5 ;
$error: #dc3545;
$warning: #f7b84b;
$success: #1ac888;
$info: white;


// color palette   $color.primary  $color.secondary
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "white": white,
  "black": black,
);

$btn-hover-colors: (
  "primary": white,
  "secondary": white,
  "error": white,
  "info": black,
  "blue": white,
  "yellow": white,
  "green": white,
  "orange": white,
  "purple": white,
  "gray": white,
  "white": white,
  "black": white,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

// box/shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//fonts
$base-font-size: 1.5rem;

$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.25;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
