// theme colors
$primary: #3B71CA ;
$secondary:  #9FA6B2 ;
$danger: #DC4C64;
$warning: #E4A11B;
$success: #14A44D;
$info: #54B4D3;
$light:#FBFBFB;
$dark:#332D2D;



$colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
// color palette   $color.primary  $color.secondary


$btn-hover-colors: (
  "primary": white,
  "secondary": white,
  "error": white,
  "info": black,
  "blue": white,
  "yellow": white,
  "green": white,
  "orange": white,
  "purple": white,
  "gray": white,
  "white": white,
  "black": white,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

// box/shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//fonts
$base-font-size: 1.5rem;

$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.25;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
