@mixin btn($bg-color:#fff, $color: #fff ,$border:0){
    background-color: $bg-color;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    color: $color;
}

@each $key, $value in $colors{

    .btn-#{$key} 
    {
        @include btn($bg-color: $value);
        background-color: $value;
    }
    .btn-outline-#{$key} {
        @include btn($border : $base-border-thickness solid $value);
        color: $value;
        &:hover{
            background-color: $value;
            color: map-get($map: $btn-hover-colors, $key: $key );
        }
        &::after{
            content: "btn-outline-" + unquote($string: "#{$key}")
        }
    }
    .btn-complement-#{$key} {
        @include btn($color: light-complement($value));
        &:hover {
          color: $value;
          background-color: light-complement($value);
        }
      }
}