// variables & functions
@import "variables";

// base & layout
@import "base";
@import "breakpoints";
@import "grid";

// colors
@import "colors";

//buttons
@import "component/button";

// utilities (helpers, modifiers, margin, padding, etc.)
@import "utilities";

@mixin display{
  display: flex;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    width: 100%;
    background-color: $secondary;
    height: 35px;
    display: flex;
    justify-content: center;
    .nav {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .left {
        width: 46%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .loc {
          display: flex;
          gap: 5px;
          align-items: center;
          i {
            color: $primary;
          }
          span {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .right {
        width: 27%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .number {
          width: 49%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          i {
            color: $primary;
          }
        }
        .navbar {
          div {
            width: 33%;
            height: 70%;
            background-color: $info;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          i {
            position: absolute;
          }
        }
      }
    }
  }
  nav {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 25%;
      font-size: $base-font-size * 1.5;
      color: $primary;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        width: 55%;
        ul{
            width: 80%;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            a{
                color: black;
                &:hover{
                    color: $primary;
                }
            }

        }
    }
  }
  .banner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/Images/carousel-2.jpg');
    .second{
      @include apply-utilities("font-size","md");
      color: white;
    }
    }
}
