* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// body {
//   font-family: 'Poppins', sans-serif;
// }

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

// .container-fluid {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
// }

// Default container styles
.container {
  max-width: 1224px;
  margin-right: auto;
  margin-left: auto;
}

// h1 {
//   font-weight: 900;
// }
.row {
  display: flex;
  flex-wrap: wrap;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: $primary;
}

