$breakpoints: (
  "xs": "0",
  "sm":"480px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px",
  "xxl": "1400px",
);
@mixin breakpoint($breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  
@each $breakpoint, $value in $breakpoints {
    .d-#{$breakpoint}-flex {
      @include breakpoint($breakpoint) {
        display: flex !important;
      }
    }
    
    .d-#{$breakpoint}-inline-flex {
      @include breakpoint($breakpoint) {
        display: inline-flex !important;
      }
    }
}
@mixin container($breakpoint) {
    width: 100%;
    max-width: map-get($breakpoints, $breakpoint);
    margin: 0 auto;
    box-sizing: border-box;
  
    @include breakpoint($breakpoint) {
      padding: 0 20px; // Örnek padding değeri, ihtiyaca göre değiştirilebilir
    }
  }
  
  // Her boyuta uygun container sınıfları oluşturma
  @each $breakpoint, $value in $breakpoints {
    .container-#{$breakpoint} {
      @include container($breakpoint);
    }
  }
@mixin xs {
    @media (max-width: map-get($breakpoints,"xs")){
        @content;
    }
}
@mixin sm {
    @media (max-width: map-get($breakpoints,"sm")){
        @content;
    }
}
@mixin md {
    @media (max-width: map-get($breakpoints,"md")){
        @content;
    }
}
@mixin lg {
    @media (max-width: map-get($breakpoints,"lg")){
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints,"xl")){
        @content;
    }
}

@mixin xxl {
    @media (max-width: map-get($breakpoints,"xxl")){
        @content;
    }
}
// include hissesinde yazdgimiz her shey md contenti icerisininde render olur

@mixin custom-btn{
    @content;
}

