@use "sass:math";
$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "md": $base-border-radius,
      "lg": $base-border-radius * 2,
      "full": 50%,
    ),
  ),
  "display": (
    "prefix": "d",
    "values": (
      "n": none,
      "b": block,
      "i": inline,
      "i-b": inline-block,
      "f": flex,
      "g": grid,
    ),
  ),
  "gap": (
    "prefix": "g",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "font-size": (
    "prefix": "fs",
    "values": (
      "xs" : $font-size-xs,
      "sm": $font-size-sm,
      "md": $font-size-md,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl,
    ),
  ),
  "font-weight": (
    "prefix": "fw",
    "values": (
      "300": 300,
      "400": 400,
      "500": 500,
      "600": 600,
      "700": 700,
      "800": 800,
      "900": 900,
    ),
  ),
  "width": (
    "prefix": "w",
    "values": (
      "10": 10%,
      "20": 20%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
      "60": 60%,
      "70": 70%,
      "80": 80%,
      "90": 90%,
      "100": 100%,
    ),
  ),
  "height": (
    "prefix": "h",
    "values": (
      "10": 10%,
      "20": 20%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
      "60": 60%,
      "70": 70%,
      "80": 80%,
      "90": 90%,
      "100": 100%,
    ),
  ),
  "top": (
    "prefix": "top",
    "values": (
      "1": 10px,
      "2": 20px,
      "3": 30px,
      "4": 40px,
      "5": 50px,
      "6": 60px,
      "7": 70px,
      "8": 80px,
      "9": 90px,
      "10": 100px,
    ),
  ),
  "bottom": (
    "prefix": "bottom",
    "values": (
      "1": 10px,
      "2": 20px,
      "3": 30px,
      "4": 40px,
      "5": 50px,
      "6": 60px,
      "7": 70px,
      "8": 80px,
      "9": 90px,
      "10": 100px,
    ),
  ),
  "right": (
    "prefix": "right",
    "values": (
      "1": 10px,
      "2": 20px,
      "3": 30px,
      "4": 40px,
      "5": 50px,
      "6": 60px,
      "7": 70px,
      "8": 80px,
      "9": 90px,
      "10": 100px,
    ),
  ),
  "left": (
    "prefix": "left",
    "values": (
      "1": 10px,
      "2": 20px,
      "3": 30px,
      "4": 40px,
      "5": 50px,
      "6": 60px,
      "7": 70px,
      "8": 80px,
      "9": 90px,
      "10": 100px,
    ),
  ),
  "align-items": (
    "prefix": "align-items",
    "values": (
      "center": center,
      "end": end,
      "start": start,
    ),
  ),
  "justify-content": (
    "prefix": "justify-content",
    "values": (
      "center": center,
      "end": end,
      "start": start,
      "sb": space-between,
      "sa": space-around,
    ),
  ),
  "flex-direction": (
  "prefix": "fd",
  "values": (
    "row": row,
    "end": end,
    "start": start,
  ),
),
  "position": (
    "prefix": "position",
    "values": (
      "absolute": absolute,
      "fixed": fixed,
      "sticky": sticky,
      "relative": relative,
    ),
  ),
  "text-decoration": (
    "prefix": "text-dec",
    "values": (
      "none": none,
      "dashed": dashed,
      "dotted": dotted,
      "underline": underline,
      "line-through": line-through,
      "double": double,
    ),
  ),
  "text-transform": (
    "prefix": "text-t",
    "values": (
      "capitalize": capitalize,
      "lowercase": lowercase,
      "uppercase": uppercase,
    ),
  ),
  "list-style": (
    "prefix": "list-style",
    "values": (
      "none": none,
      "block":block
    ),
  ),
);
$text-values: start, center, right, left, end;

@each $value in $text-values {
  .text-#{$value} {
    text-align: $value;
  }
}

@mixin apply-utilities($property, $value) {
  #{$property}: $value;
}
@each $property, $list in $utilities {
  $prefix: map-get(
    $map: $list,
    $key: "prefix",
  );
  $values: map-get(
    $map: $list,
    $key: "values",
  );

  @each $key, $value in $values {
    .#{$prefix}-#{$key} {
      @include apply-utilities($property, $value);
    }
  }
  // @debug $property $values;
}
