// theme colors
$primary: #781527;
$secondary: #2b2b2b;
$danger: #dc4c64;
$warning: #e4a11b;
$success: #14a44d;
$info: #54b4d3;
$light: #fbfbfb;
$dark: #333;
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
// color palette   $color.primary  $color.secondary

$btn-hover-colors: (
  "primary": #781527,
  "secondary": white,
  "error": white,
  "info": black,
  "blue": white,
  "yellow": white,
  "green": white,
  "orange": white,
  "purple": white,
  "gray": white,
  "white": white,
  "black": white,
);
// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

// box/shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//fonts
$base-font-size: 1rem;
$font-size-xs: $base-font-size; //16px
$font-size-sm: $base-font-size * 0.75; //12px
$font-size-14: $base-font-size * 0.876; //14px
$font-size-md: $base-font-size * 1.125; //18px
$font-size-20: $base-font-size * 1.25; //20px
$font-size-lg: $base-font-size * 1.5; //24px
$font-size-xl: $base-font-size * 2; //32px
$font-size-40: $base-font-size * 2.5; //40px
$font-size-44: $base-font-size * 2.75; //44px
$font-size-xxl: $base-font-size * 3; //48px
